{
   "plugins": [
     ["@semantic-release/commit-analyzer", {
       "preset": "eslint",
       "releaseRules": [
         {"type": "Fix", "release": "patch"},
         {"type": "Update", "release": "minor"},
         {"type": "New", "release": "minor"},
         {"type": "Breaking", "release": "major"},
         {"type": "Docs", "release": "patch"},
         {"type": "Build", "release": "patch"},
         {"type": "Upgrade", "release": "minor"},
         {"type": "Chore", "release": "patch"}
       ]
     }],
     ["@semantic-release/release-notes-generator", {
        "preset": "eslint"
     }],
     ["@semantic-release/github", {
       "assets": [
         "*.js",
         "*.json"
       ]
     }],
     "@semantic-release/npm",
     ["@semantic-release/git", {
       "assets": ["package.json"],
       "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
     }]
   ]
}